<script src="/javascripts/adminCtrl.js"></script>
<div ng-controller="adminCtrl">
    <h1 class="text-center"> {{title}} </h1>
    <br>
    <div class="row" >
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 text-center">
            <div class="alert alert-danger hidden" id="errorBox">{[{serverErrors}]}</div>
            <div class="alert alert-success hidden" id="successBox">{[{serverSuccess}]}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 card">
            <form class="form-group" method="post" action="">
                <h3>Site Settings</h3>
                <div class="form-group">
                    <label>Site Brand</label>
                    <input type="text" class="form-control" id="sitename" ng-model="site.name" value="{{config "sitename"}}" />
                </div>
                <div class="form-group">
                    <label>Tagline</label>
                    <input type="text" class="form-control" id="sitetag" ng-model="site.tag" value="{{config "sitetag"}}"/>
                </div>
                <div class="form-group">
                    <label>Copyright</label>
                    <input type="text" class="form-control" id="sitecopyright" ng-model="site.copyright" value="{{config "copyright"}}"/>
                </div>
                <a class="btn btn-success" ng-click="saveSettings()">Save</a>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        var sitename = "{{config "sitename"}}";
        var sitetag = "{{config "sitetag"}}";
        var copyright = "{{config "copyright"}}";
        var dokey = null;
    </script>
</div>