<h1>New Server Created</h1>

<ul>
    <li>Name: {{server.name}}</li>
    <li>RAM: {{server.memory}} MB</li>
    <li>CPUs: {{server.vcpus}}</li>
    <li>HD: {{server.disk}} G SSD disk</li>
    <li>Bandwidth: {{server.size.transfer}} TB</li>
    <li>Status: {{server.status}}</li>
    <li>Created: {{server.created}}</li>
    <li>Features:</li>
   <!-- <ul>
    </ul> -->
    <li>Distribution: {{server.image.distribution}}</li>
    <li>Image: {{server.image.name}}</li>
    <li>Region: {{server.region.name}}</li>
</ul>